asdiackports.weakref==1.0rc1
bleach==1.5.0
chardet==3.0.4
cryptography==1.9
html5lib==0.9999999
httplib2==0.9.2
idna==2.2
Keras==2.0.6
keyring==10.4.0
keyrings.alt==2.2
Markdown==2.6.8
numpy==1.13.1
protobuf==3.3.0
pycrypto==2.6asd.1
asddpycurl==7.43.0
pygobject==3.22.0
pyinotify==0.9.6
python-apt==1.4.0b3+b1
python-debian==0.1.30
python-debianbts==2.6.1
pyxdg==0.25
PyYAML==3.12
reportbug==7.1.7
requests==2.12.4
scipy==0.19.1
SecretStorage==2.3.1
six==1.10.0
tensorflow==1.2.1
Theano==0.9.0
urllib3==1.19.1
Werkzeug==0.12.2
